*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

:root{
    --bg-color: #000000;
    --second-bg-color: #121212;
    --text-color: #fff;
    --main-color: #04ecfd;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    font-family: sans-serif;
    color: var(--text-color);
}
html::-webkit-scrollbar{
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0,0,0,0.7);
    filter:drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
    text-shadow: 0 0 25px var(--main-color);
    
}

.navbar a{
    font-size:1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition:0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

@media (max-width:955px){
    #menu-icon{
        display: block;  
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0,0,0,0.1);
        display: none;
    }

    .navbar.active{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a:hover,
.navbar a.active{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem;
    }
}




section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: var(--bg-color);
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--main-color),
                0 0 15px var(--main-color),
                0 0 50px var(--main-color);
    cursor: pointer ;
    transition: 1s ease;
}



.home-img img:hover{
    box-shadow: 0 0 15px var(--main-color),
                0 0 25px var(--main-color),
                0 0 70px var(--main-color);
    transform: scale(1.1);
    
    
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: var(--main-color);
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1.7rem;
    font-weight: 700;
}
.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.2s ease;
}

.social-icon a:hover{
    color: black;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background: var(--main-color);
}

.home-button{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.button{
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 2em;
    border: medium var(--main-color);
    border-radius: 0.25em;
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms,color 300ms;
    user-select: none;
    border: 2px solid var(--main-color);
}

.button p{
    z-index: 1;
    
}

.button:hover{
    color: black;
    box-shadow: 0 0 25px var(main);
}

.button:active{
    border-color: var(--main-color);
}
.button::after, .button::before{
    content: '';
    position: absolute;
    width: 12em;
    aspect-ratio: 1;
    background: var(--main-color);
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms,background 300ms;
}

.button::before{
    left: 0;
    transform: translateX(-11.5em);
}

.button::after{
    right: 0;
    transform: translateX(11.5em);
}


.button:hover::before{
    
    transform: translateX(-1em);
}

.button:hover:after{
    
    transform: translateX(1em);
}

.button:active::before,
.button:active:after{
    background:transparent;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: 'Software Developer';
    color:var(--main-color);
    animation: words 20s infinite;
}


.typing-text span::after{
    content: '';
    position: absolute;
    background-color: var(--bg-color);
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite,typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words{
    0%,20%{
        content: 'Software Developer';
    }
    21%,40%{
        content: 'Web Developer';
    }
    41%,60%{
        content: 'Coder';
    }
    61%,80%{
        content: 'Lerner';
    }
    81%,100%{
        content: 'Student';
    }
}


@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}


@media(max-width:1000px){
    .home{
        gap: 2rem;
    }
    @media(max-width:955px){
    .home{
        flex-direction: column;
        margin: 0rem 2rem;
        font-size: 2.5rem;
    }
    .home .home-content h3{
        font-size: 2.5rem;
    }
    .home .home-content h1{
        font-size: 5rem;
    }
    .home .home-img img{
        width: 70vw;
        margin-top: 4rem;

    }
}
}




